<launch>

    <arg name="data_dir"       default="/home/paolo/bci_vr_ws/test_node_data"/>
    <arg name="out_dir"        default="$(arg data_dir)/slda_bci"/>
    <arg name="path_slda_model" default="$(find slda_bci)/models/mi/slda_mi_test.yaml"/>
    <arg name="paradigm"       default="mi"/>
    <arg name="topic_sub"      default="/eeg_fbcsp"/>
    <arg name="sample_rate"    default="20"/>
    <arg name="nbands"         default="5"/>

    <!-- sLDA node -->
    <node pkg="slda_bci" type="slda.py" name="slda_node" output="screen">
        <param name="path_slda_model" value="$(arg path_slda_model)"/>
        <param name="topic_sub"       value="$(arg topic_sub)"/>
        <param name="paradigm"        value="$(arg paradigm)"/>
    </node>

    <!-- Logger: saves softpredict probabilities + first_seq -->
    <node pkg="slda_bci" type="test_logger_slda" name="test_logger_slda" output="screen">
        <param name="paradigm"        value="$(arg paradigm)"/>
        <param name="output_filename" value="$(arg out_dir)/slda_output.csv"/>
    </node>

    <!-- Publisher: pre-computed FBCSP features (raw mean power) from processing_bci CSV test -->
    <node pkg="slda_bci" type="test_publisher_slda" name="test_publisher_slda" output="screen">
        <param name="csv_file"    value="$(arg data_dir)/processing_bci/fbcsp_processing.csv"/>
        <param name="sample_rate" value="$(arg sample_rate)"/>
        <param name="topic"       value="$(arg topic_sub)"/>
        <param name="nbands"      value="$(arg nbands)"/>
    </node>

</launch>
