<launch>
    <!-- SLDA -->
    <!-- arguments -->
    <arg name="path_slda_model" default="$(find slda_bci)/models/slda_test.yaml" />
    <arg name="topic_sub" default="/eeg_fbcsp" />
    <arg name="paradigm" default="mi" />

    <!-- node -->
    <node pkg="slda_bci" type="slda.py" name="slda_node" output="screen">
        <param name="path_slda_model" value="$(arg path_slda_model)" />
        <param name="topic_sub" value="$(arg topic_sub)" />
        <param name="paradigm" value="$(arg paradigm)" />
    </node>
</launch>
